# Ignorar todos los archivos dentro de las carpetas backup y pg1-path
src/backup/*
src/pg1-path/*

# Pero no ignorar las propias carpetas backup y pg1-path
!src/backup/
!src/pg1-path/


**/pg1-path/
**/backups/
**/postgres-data/
**/pgadmin-data/